<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"hp-about-template","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull hp-about-template" style="margin-top:0"><!-- wp:group {"align":"wide","className":"hp-about-template__content","layout":{"type":"constrained","contentSize":"44rem"}} -->
<div class="wp-block-group alignwide hp-about-template__content"><!-- wp:post-content {"layout":{"type":"constrained","contentSize":"44rem"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
