<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"hp-page-main hp-aie-template","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|9","bottom":"var:preset|spacing|12"}}},"layout":{"type":"constrained","contentSize":"44rem","wideSize":"72rem"}} -->
<main class="wp-block-group alignfull hp-page-main hp-aie-template" style="margin-top:0;padding-top:var(--wp--preset--spacing--9);padding-bottom:var(--wp--preset--spacing--12)"><!-- wp:post-content {"align":"full","layout":{"type":"constrained","contentSize":"44rem","wideSize":"72rem"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
